__pycache__/
*.py[cod]
*$py.class

*.pth

classes.json

*.csv
datasets/
data/

.env
.env.*

.ipynb_checkpoints

venv/
env/
.venv/
.env/

.vscode/


*.log

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


.streamlit/

pip-wheel-metadata/

htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json
